:root {
  --view-transition-duration: 150ms;
  --view-transition-enter-delay: calc(var(--view-transition-duration) * 0.25);
  --view-transition-distance: calc(var(--spacing) * 4);
  --view-transition-enter-easing: ease-in;
  --view-transition-exit-easing: ease-out;
}

/* Slide Left Transition */
html:active-view-transition-type(slide-left) {
  &::view-transition-old(main-content) {
    animation: var(--view-transition-duration)
      var(--view-transition-exit-easing) both slide-out-left;
  }
  &::view-transition-new(main-content) {
    animation: var(--view-transition-duration)
      var(--view-transition-enter-easing) both slide-in-left;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(calc(var(--view-transition-distance) * -1));
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(var(--view-transition-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide Right Transition */
html:active-view-transition-type(slide-right) {
  &::view-transition-old(main-content) {
    animation: var(--view-transition-duration)
      var(--view-transition-exit-easing) both slide-out-right;
  }
  &::view-transition-new(main-content) {
    animation: var(--view-transition-duration)
      var(--view-transition-enter-easing) both slide-in-right;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(var(--view-transition-distance));
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(calc(var(--view-transition-distance) * -1));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
