name: Security Checks
on:
  workflow_call:
permissions:
  contents: read
jobs:
  trivy:
    name: Trivy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Scan repo
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          scanners: 'vuln,secret,config'
          exit-code: '1'
          ignore-unfixed: 'true'
          severity: 'MEDIUM,HIGH,CRITICAL'

  npm-audit:
    name: PNPM Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run pnpm audit
        run: pnpm audit --prod --audit-level=moderate
