name: Static Checks
on:
  workflow_call:
permissions:
  contents: read
jobs:
  prettier:
    name: Prettier Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run prettier
        run: pnpm run prettier

  lint:
    name: ESLint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run linter
        run: pnpm run lint

  knip:
    name: knip Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run knip
        run: pnpm run knip

  tsc:
    name: TS Types Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run Tsc
        run: pnpm run type-check
