name: Unit Tests
permissions:
  contents: read
on:
  workflow_call:
jobs:
  tests:
    name: Vitest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run tests
        run: pnpm run test:coverage

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: ./coverage/lcov.info
