name: Unit Tests
permissions:
  contents: read
  pull-requests: write
  checks: write
on:
  workflow_call:
jobs:
  tests:
    name: Vitest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run tests
        run: pnpm run test:coverage

      - name: Report Coverage
        uses: davelosert/vitest-coverage-report-action@5b6122e3a819a3be7b27fc961b7faafb3bf00e4d # v2.9.0

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
        with:
          file: ./coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          debug: true
          fail-on-error: false
