name: Lint PR title
on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize
jobs:
  lint-pr-title:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: ./.github/actions/setup

      - name: Install commitlint
        run: |
          pnpm i -D -w commitlint @commitlint/config-conventional

      - name: Validate PR title
        run: echo "${{ github.event.pull_request.title }}" | pnpm dlx commitlint -x '@commitlint/config-conventional'
